<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>email ejs template</title>
    </head>
    <body>

    	<h1>Welcome !! <%= email %> </h1>

    	<p>정말로 반가워요 ^^</p>
        
    </body>
</html>