<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>main.html</title>
    </head>
    <body>

    <h1>main page</h1>

    <h3>welcome, <%= id %> 번째 가입고객님!!</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae veniam magnam dignissimos ullam at obcaecati debitis atque. Saepe, voluptatem molestiae. Laboriosam voluptates hic ducimus quam voluptatum quos aliquam laudantium, doloremque!</p>
    </body>
</html>