h1 {
    margin-top : 60px;
    text-align: center;
    font-family: monospace;
    font-weight: 100;
}

.formWrap {
    width: 340px;
    overflow: auto;
    margin: 30px auto;
}

form span {
    display: inline-block;
    width : 80px;
}

.email {
    margin-bottom: 4px;
}

.inputWrap, .sendbtn {
    float: left;
}

.sendbtn {
    float: left;
    margin-left: 20px;
    width: 80px;
    height: 40px;
    background-color: slategray;
    color:#fff;
    height: 64px;
}

input {
    width: 150px;
    height: 24px;
}

.result {
    text-align: center;
    color: #c33;
}

.signup {
    margin-top: 6px;
}